# Deepseek 的 api
DEEPSEEK_API_KEY = ''
# Materials Project 的 api
mp_API_KEY = ''
# mcp服务器的ip地址，本地回环就用 127.0.0.1
local_HOST = ''
# 计算服务器的IP地址
HOST = ""
# 计算服务器的端口
PORT = 22
# 计算服务器的登录账号
USERNAME = ""
# 计算服务器的登录密码
PASSWORD = ""
# 计算服务器的工作文件夹的路径
base_dir=""